* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: rgb(0, 0, 0);
    font-family: "Inter", sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.home-color {
    border-radius: 25px;
    background: rgb(230, 83, 60);
    padding: 12px;
}

.all-section {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    /* height: 715px; */
    padding-top: 40px;
    /* height: auto; */
}

.navbar h1 {
    color: rgb(230, 83, 60);
    font-family: "Inter", sans-serif;
    font-style: italic;
    font-size: 36px;
    font-weight: 800;
    margin-top: 13px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}

.navbar li {
    text-decoration: none;
    list-style: none;
    font-size: 18px;
    line-height: 25px;
    text-align: left;
}

.nav-4 {
    display: flex;
    font-family: "Inter", sans-serif;
    gap: 30px;
    border-left: 50px;
    height: 50px;
    line-height: 25px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    align-items: center;
    padding: 10px 20px 10px 3px;
}

.navbar li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}



.ham-menu {
    color: white;
    visibility: hidden;
}

/* !banner text & photo */

.banner-parent {
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}

.banner-text h1 {
    margin-top: 120px;
    font-family: "Inter", sans-serif;
    font-family: 900;
    font-size: 78px;
    color: rgb(255, 255, 255);
    width: 600px;
    line-height: 99.50%;
}

.new-text {
    font-family: 'Miama', sans-serif;
    font-size: 150px;
    font-weight: 400;
}

.banner-text p {
    color: rgba(255, 255, 255, 0.5);
    font-family: "Inter", sans-serif;
    font-size: 16px;
    padding-top: 28px;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;
}

.button {
    display: flex;
    padding-top: 28px;
    gap: 14px;
}

.button-1,
.button-2 {
    color: rgb(255, 255, 255);
    gap: 20px;
    padding: 16px 40px;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    font-family: "Inter", sans-serif;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.button-2 {
    border: 1px solid rgb(255, 255, 255);
    background: transparent;
}

.img {
    width: 349px;
    height: 580px;
    background: url(./images/Images\ 2.png);
}

.img-div {
    padding-top: 32px;
}

.img-text1 {
    position: absolute;
    top: 570px;
    right: 410px;
    padding: 15px 25px;
    color: rgb(255, 255, 255);
    font-family: "Inter", sans-serif;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(5px);
    background: rgba(48, 48, 48, 0.54);
    gap: 10px;
}

.img-text1 h3 {
    font-weight: 900;
    font-size: 24px;
    text-align: left;
}

.img-text1 p,
.all-section p {
    font-family: "Inter", sans-serif;
    padding-top: 5px;
    font-size: 12px;
    color: rgba(239, 237, 232, 0.65);
    font-weight: 100;
}

.play {
    display: flex;
    align-items: center;
}

.img-text2 {
    color: rgb(255, 255, 255);
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    position: absolute;
    top: 290px;
    right: 125px;
    padding: 5px 15px;
    font-family: "Inter", sans-serif;
    backdrop-filter: blur(20px);
    background: rgba(255, 255, 255, 0.1);
}

.img-text2 h1 {
    font-size: 30px;
    font-weight: 800;
    line-height: 40px;
    letter-spacing: 1px;
    text-align: left;
}

/* ? start Change Your Habits */

.habits {
    padding-top: 60px;

}

.habits-title {
    width: 80%;
    margin: 0 auto;
}

.habits-title h3 {
    color: rgb(255, 255, 255);
    font-size: 40px;
    font-weight: 900;
    line-height: 120%;
    text-align: center;
}

.habits-title p {
    color: rgba(255, 255, 255, 0.5);
    padding-top: 14px;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: center;
}

.habits-flex {
    display: flex;
    width: 80%;
    margin: 0 auto;
    padding-top: 60px;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.habits-imgdiv {
    width: 231px;

}

.habits-img {
    border-radius: 50%;
    border: 3px solid #1a1a1a;
}

.habits-imgdiv h4 {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    padding-top: 15px;
}

.habits-imgdiv p {
    color: rgba(255, 255, 255, 0.5);
    padding-top: 5px;
    font-size: 14px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.3px;
}

/* TODO: small device */
@media (max-width: 576px) {

    /* font-family: 'Miama', sans-serif; */
    .nav-4 {
        visibility: hidden;

    }

    .navbar {
        display: flex;
        justify-content: space-between;
        margin: 0 20px;
    }

    .banner-parent {
        display: flex;
        flex-direction: column;
        margin: 0 20px;

    }

    .ham-menu {
        visibility: visible;
        position: absolute;
        right: 15px;
        top: 50px;
    }

    .banner-text h1 {
        width: 298px;
        margin-top: 50px;
        font-family: 900;
        font-size: 50px;
        line-height: 99.50%;
    }

    .new-text {
        font-family: 'Miama', sans-serif;
        font-size: 90px;
        font-weight: 400;

    }

    .banner-text p {
        width: 300px;
        font-size: 16px;
        padding-top: 28px;
        line-height: 24px;
        letter-spacing: 0.5px;
        text-align: left;
    }


    .button {
        display: flex;
        justify-content: space-between;
        padding-top: 28px;
    }

    .button-1,
    .button-2 {
        color: rgb(255, 255, 255);
        padding: 20px 40px;
        border-radius: 42px;
        background: rgb(230, 83, 60);
        font-family: "Inter", sans-serif;
        font-size: 18px;
        font-weight: 600;
        border: none;
    }

    .img {
        width: 100%;
        height: 490px;
        background: url(./images/Images\ 2.png);
        background-repeat: no-repeat;
        background-size: auto;
    }

    .img-text1 {
        position: absolute;
        top: 850px;
        right: 200px;
        padding: 15px 25px;
        color: rgb(255, 255, 255);
        font-family: "Inter", sans-serif;
        display: flex;
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        backdrop-filter: blur(5px);
        background: rgba(48, 48, 48, 0.54);
        gap: 10px;
    }

    .img-text2 {
        color: rgb(255, 255, 255);
        border: 1px solid rgba(255, 255, 255, 0.1);
        border-radius: 12px;
        position: absolute;
        top: 630px;
        right: 10px;
        padding: 5px 15px;
        font-family: "Inter", sans-serif;
        backdrop-filter: blur(20px);
        background: rgba(255, 255, 255, 0.1);
    }

    /* ! habits start */
    .habits {
        width: 80%;
        padding-top: 10px;
        margin: 0 auto;

    }

    .habits-title h3 {
        color: rgb(255, 255, 255);
        font-size: 38px;
        font-weight: 900;
        line-height: 120%;
        text-align: center;
    }

    .habits-flex {
        flex-direction: column;
        width: 100%;
        gap: 30px;
    }

    .habits-imgdiv {
        width: 300px;
    }
}